@font-face {
  font-family: "dinMedium";
  src: url(./din_medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "din";
  src: url(./din_regular.ttf) format("truetype");
  font-weight: normal;
}
/* @font-face {
  font-family: "din";
  src: url(./din.woff) format("woff"), url(./din.woff2) format("woff2");
  font-weight: normal;
} */

/* @font-face {
  font-family: "din";
  src: url(./din_bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "din";
  src: url(./din_medium.ttf) format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "din";
  src: url(./din_light.ttf) format("truetype");
  font-weight: light;
} */
