@font-face {
  font-family: "dinMedium";
  src: url(./din_medium.ttf) format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "din";
  src: url(./din_regular.ttf) format("truetype");
  font-weight: normal;
}
