/* @font-face {
  font-family: "din";
  src: url("/fonts/DINREGULAR.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "din";
  src: url("/fonts/DINMEDIUM.ttf") format("ttf");
  font-weight: medium;
  font-style: medium;
}
@font-face {
  font-family: "din";
  src: url("/fonts/DINBOLD.ttf") format("ttf");
  font-weight: bold;
  /* font-style: bold;s */
/* } */
/* @font-face {
  font-family: "din";
  src: url("/fonts/DINLIGHT2.ttf") format("ttf");
  font-weight: light;
  font-style: light;
} */
